.Dashboard {
  display: flex;
  flex: 3;
  padding: 0;
  background: repeating-linear-gradient(
    to right,
    rgba(64, 82, 92, 0.0) 0px,
    rgba(64, 82, 92, 0.25) 0px,
    rgba(64, 82, 92, 0.25) 1px,
    rgba(64, 82, 92, 0.0) 1px,
    rgba(64, 82, 92, 0.0) 10px,
    rgba(64, 82, 92, 0.25) 10px,
    rgba(64, 82, 92, 0.25) 11px,
    rgba(64, 82, 92, 0.0) 11px,
    rgba(64, 82, 92, 0.0) 20px,
    rgba(64, 82, 92, 0.25) 20px,
    rgba(64, 82, 92, 0.25) 21px,
    rgba(64, 82, 92, 0.0) 21px,
    rgba(64, 82, 92, 0.0) 30px,
    rgba(64, 82, 92, 0.5) 30px,
    rgba(64, 82, 92, 0.5) 31px,
    rgba(64, 82, 92, 0.0) 31px,
    rgba(64, 82, 92, 0.0) 40px,
    rgba(64, 82, 92, 0.25) 40px,
    rgba(64, 82, 92, 0.25) 41px,
    rgba(64, 82, 92, 0.0) 41px,
    rgba(64, 82, 92, 0.0) 50px,
    rgba(64, 82, 92, 0.25) 50px,
    rgba(64, 82, 92, 0.25) 51px,
    rgba(64, 82, 92, 0.0) 51px,
    rgba(64, 82, 92, 0.0) 60px,
    rgba(64, 82, 92, 0.25) 60px,
    rgba(64, 82, 92, 0.25) 61px,
    rgba(64, 82, 92, 0.0) 61px,
    rgba(64, 82, 92, 0.0) 70px,
    rgba(64, 82, 92, 0.25) 70px,
    rgba(64, 82, 92, 0.25) 71px,
    rgba(64, 82, 92, 0.0) 71px,
    rgba(64, 82, 92, 0.0) 80px,
    rgba(64, 82, 92, 1) 80px,
    rgba(64, 82, 92, 1) 81px,
    rgba(64, 82, 92, 0.0) 81px,
    rgba(64, 82, 92, 0.0) 90px,
    rgba(64, 82, 92, 0.25) 90px,
    rgba(64, 82, 92, 0.25) 91px,
    rgba(64, 82, 92, 0.0) 91px,
    rgba(64, 82, 92, 0.0) 100px
  ), repeating-linear-gradient(
    to bottom,
    rgba(64, 82, 92, 0.0) 0px,
    rgba(64, 82, 92, 0.25) 0px,
    rgba(64, 82, 92, 0.25) 1px,
    rgba(64, 82, 92, 0.0) 1px,
    rgba(64, 82, 92, 0.0) 10px,
    rgba(64, 82, 92, 0.25) 10px,
    rgba(64, 82, 92, 0.25) 11px,
    rgba(64, 82, 92, 0.0) 11px,
    rgba(64, 82, 92, 0.0) 20px,
    rgba(64, 82, 92, 0.25) 20px,
    rgba(64, 82, 92, 0.25) 21px,
    rgba(64, 82, 92, 0.0) 21px,
    rgba(64, 82, 92, 0.0) 30px,
    rgba(64, 82, 92, 0.5) 30px,
    rgba(64, 82, 92, 0.5) 31px,
    rgba(64, 82, 92, 0.0) 31px,
    rgba(64, 82, 92, 0.0) 40px,
    rgba(64, 82, 92, 0.25) 40px,
    rgba(64, 82, 92, 0.25) 41px,
    rgba(64, 82, 92, 0.0) 41px,
    rgba(64, 82, 92, 0.0) 50px,
    rgba(64, 82, 92, 0.25) 50px,
    rgba(64, 82, 92, 0.25) 51px,
    rgba(64, 82, 92, 0.0) 51px,
    rgba(64, 82, 92, 0.0) 60px,
    rgba(64, 82, 92, 0.25) 60px,
    rgba(64, 82, 92, 0.25) 61px,
    rgba(64, 82, 92, 0.0) 61px,
    rgba(64, 82, 92, 0.0) 70px,
    rgba(64, 82, 92, 0.25) 70px,
    rgba(64, 82, 92, 0.25) 71px,
    rgba(64, 82, 92, 0.0) 71px,
    rgba(64, 82, 92, 0.0) 80px,
    rgba(64, 82, 92, 1) 80px,
    rgba(64, 82, 92, 1) 81px,
    rgba(64, 82, 92, 0.0) 81px,
    rgba(64, 82, 92, 0.0) 90px,
    rgba(64, 82, 92, 0.25) 90px,
    rgba(64, 82, 92, 0.25) 91px,
    rgba(64, 82, 92, 0.0) 91px,
    rgba(64, 82, 92, 0.0) 100px
  );

  &-bottomField {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    background: #122934;
    border: 1px solid #3F525B;
    border-bottom: none;
    border-right: none;
    color: #869AA7;
    z-index: 0;
    padding-left: 5px;
  }

  &-textField {
    margin-left: 0.618em;
    background: #122934;
    color: #869AA7;
    border: none;
    width: 4.618em;
  }

  &-Beacon {
    align-self:flex-start;
    border-radius: 50%;
    border: 1px solid #3F525B;
  }
}
